<div class="mat-elevation-z8">
    <div>
        <div class="coords">
            <button mat-raised-button [routerLink]="['/dashboard']">Kembali</button>
          </div>
        <h1>Data Pengeluaran Order:</h1>
        <div fxLayout="row" fxFlexOrder="1" fxLayoutGap="20px" id="barisanTombol">
            <button mat-raised-button (click)="tambahTrack()" color="primary" *ngIf="jobOrder.status === 0">Tambah Transaksi</button>
          <h3>Jumlah Biaya: {{calculation()|currency:'IDR'}}</h3>

          <button mat-raised-button *ngIf="jobOrder.status === 0"
          [swal]="{ title:'Yakin Tutup Order ini?',
          showDenyButton:true, denyButtonText:'Batal Tutup',
          showCancelButton:false}" (confirm)="konfirmasi()" (deny)="handleDismiss()" color="warn">Close Order</button>
          
          <button mat-raised-button *ngIf="roleId == '0' && jobOrder.status === 1"
          [swal]="{ title:'Yakin Buka Order ini?',
          showDenyButton:true, denyButtonText:'Batal Buka',
          showCancelButton:false}" (confirm)="OpenOrder()" (deny)="handleDismiss()" color="warn">Buka Order</button>
    </div>
    <div [hidden]="jobTracks">
        <h2>Belum ada data</h2>
    </div>

    <table mat-table [dataSource]="jobTracks" class="table-striped mat-elevation-z8" [hidden]="!jobTracks">
        <ng-container matColumnDef="Nomor">
            <th mat-header-cell *matHeaderCellDef>Nomor</th>
            <td mat-cell *matCellDef="let jobTrack;">{{jobTrack.id}}</td>
        </ng-container>

        <ng-container matColumnDef="nominal">
            <th mat-header-cell *matHeaderCellDef>Nominal</th>
            <td mat-cell *matCellDef="let jobTrack">{{jobTrack.nominal | currency:'IDR'}}</td>
        </ng-container>

        <ng-container matColumnDef="laporan">
            <th mat-header-cell *matHeaderCellDef>Laporan</th>
            <td mat-cell *matCellDef="let jobTrack">{{jobTrack.laporan}}</td>
        </ng-container>

        <ng-container matColumnDef="trackTime">
            <th mat-header-cell *matHeaderCellDef>Update</th>
            <td mat-cell *matCellDef="let jobTrack">{{jobTrack.trackTime | date:'dd-MM-YYYY HH:mm'}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"> </tr>
    </table>
    
</div>