<mat-toolbar color="primary" fxShow fxHide.xs="true" >
    <mat-toolbar-row  fxLayout="row">
      <span>Job Order Monitoring</span>
      <ng-container *ngIf="user">
        <div>
          <button mat-button routerLink="dashboard" routerLinkActive="active-list-item" >Dashboard</button>
          <button mat-button routerLink="laporan" routerLinkActive="active-list-item">Laporan</button>
          <button mat-button (click)="LogOut()" >Logout</button>
        </div>
      </ng-container>
    </mat-toolbar-row>
  </mat-toolbar>
  <!--part 2 mendingan jadi komponen sendiri?-->
<mat-drawer-container fxHide fxShow.xs="true" fxLayout="column" >
  <mat-drawer #drawerMenu mode="side" color="primary">
      <div fxLayout="row">
        <button mat-button routerLink="dashboard" routerLinkActive="active-list-item" >Dashboard</button>
        <button mat-button [matMenuTriggerFor]="menu2">Menu</button>
        <mat-menu #menu2="matMenu">
          <button mat-menu-item routerLink="dashboard" routerLinkActive="active-list-item">Dashboard</button>
          <button mat-menu-item routerLink="laporan" routerLinkActive="active-list-item">Laporan</button>
        </mat-menu>
      </div>
      <mat-divider></mat-divider>
      <div fxLayout="row">
        <button mat-button routerLink="laporan" routerLinkActive="active-list-item" >Laporan</button>
      </div>
      <mat-divider></mat-divider>
      <div fxLayout="row">
        <button mat-button [matMenuTriggerFor]="menu1"> Hai id anda </button>
        <mat-menu #menu1="matMenu">
          <button mat-menu-item (click)="LogOut()" routerLink="#">Logout</button>
        </mat-menu>
      </div>
      <div fxLayout="row">
        <button mat-button (click)="LogOut()" >Logout</button>
      </div>
  </mat-drawer>
    <button mat-flat-button color="primary" (click)="drawerMenu.toggle()" *ngIf="user">
      <mat-icon>view_list</mat-icon>
    </button>
</mat-drawer-container>